In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### 서울시 주유소, 행정동 코드 파일

In [2]:
charge = pd.read_csv("seoul_oil_sinsa.csv", encoding="cp949")

charge = charge.drop(["Unnamed: 0", "연번"], axis=1)

charge

,자치구명,주유소명,주소,도로명주소,경도,위도,행정동
0,용산구,현대오일뱅크(주) 직영소월길주유소,서울특별시 용산구 소월로66,서울 용산구 소월로 66,126.977735,37.554409,후암동
1,용산구,선익상사(주) 동자동주유소,서울특별시 용산구 한강대로 104길 6,서울 용산구 한강대로104길 6,126.972418,37.550201,남영동
2,용산구,현대오일뱅크㈜ 직영갈월동주유소,서울특별시 용산구 한강대로 322,서울 용산구 한강대로 322,126.972228,37.547029,남영동
3,용산구,서계주유소,서울특별시 용산구 청파로 367,서울 용산구 청파로 367,126.968994,37.552366,청파동
4,용산구,㈜영원에너지 풍기주유소,서울특별시 용산구 원효로178,서울 용산구 원효로 178,126.962709,37.535589,원효로1동
...,...,...,...,...,...,...,...
468,도봉구,현대오일뱅크㈜직영 도봉현대셀프주유소,서울특별시 도봉구 도봉로 941 (도봉동),서울 도봉구 도봉로 941,127.045327,37.688374,도봉1동
469,도봉구,GS칼텍스㈜ 도봉주유소,서울특별시 도봉구 도봉로 895 (도봉동),서울 도봉구 도봉로 895,127.045522,37.684369,도봉1동
470,도봉구,(주)송만에너지 도봉제일주유소,서울특별시 도봉구 도봉로 783 (도봉동),서울 도봉구 도봉로 783,127.044067,37.674474,도봉1동
471,도봉구,노원교주유소,서울특별시 도봉구 마들로 776 (도봉동),서울 도봉구 마들로 776,127.049751,37.679015,도봉2동
472,도봉구,오복주유소,서울특별시 도봉구 방학로 43 (방학동),서울 도봉구 방학로 43,127.047442,37.662280,방학1동

In [4]:
dong_code = pd.DataFrame(pd.read_csv("C:/R_Program_Files/R_Working_Directory/PSAT/charging_station/living_population/행정동코드_수정.csv"))

dong_code = dong_code.drop(["시도명", "시군구명"], axis=1)

dong_code.columns = ["행정동코드", "행정동명"]

dong_code

        행정동코드  행정동명
0    11110530   사직동
1    11110540   삼청동
2    11110550   부암동
3    11110560   평창동
4    11110570   무악동
..        ...   ...
421  11740690  둔촌1동
422  11740700  둔촌2동
423  11740570  암사1동
424  11740610  천호2동
425  11740685    길동

[426 rows x 2 columns]

### 행정동별 주유소 개수

In [5]:
charge_num = charge.groupby("행정동", as_index=False).count().iloc[:,0:2]

charge_num.columns = ["행정동", "주유소"]

charge_num

      행정동  주유소
0    가락2동    3
1    가락본동    1
2    가리봉동    1
3     가산동    1
4    가양1동    6
..    ...  ...
262   화양동    1
263   회현동    2
264   후암동    1
265  휘경2동    4
266   흑석동    1

[267 rows x 2 columns]

In [6]:
charge_num = pd.merge(dong_code, charge_num, left_on="행정동명", right_on="행정동", how="left")

charge_num = charge_num.drop("행정동", axis=1)

charge_num["주유소"] = charge_num["주유소"].fillna(0)

charge_num = charge_num.sort_values("행정동명")

charge_num

        행정동코드  행정동명   행정동  주유소
0    11110530   사직동   사직동  1.0
1    11110540   삼청동   NaN  NaN
2    11110550   부암동   부암동  2.0
3    11110560   평창동   평창동  3.0
4    11110570   무악동   NaN  NaN
..        ...   ...   ...  ...
421  11740690  둔촌1동   NaN  NaN
422  11740700  둔촌2동  둔촌2동  2.0
423  11740570  암사1동  암사1동  1.0
424  11740610  천호2동  천호2동  2.0
425  11740685    길동   NaN  NaN

[426 rows x 4 columns]

### 데이터셋에 주유소 개수 추가

In [11]:
final = pd.read_csv("final_data.csv")

final

,행정동코드,시군구명,행정동,인구밀도,거주인구,생활인구,면적,주거성격,거주비율,평균총소득,충전소개수,전기차개수,충전소인프라,전체차량개수,전기차보급률,충전소접근성,전기사용량,가스사용량,온실가스비율
0,11710631,송파구,가락1동,20434.531886,27382.272727,2.031486e+07,1.34,741.898283,0.286862,1055.6200,7,229,0.030568,10234,0.022376,-7.055979,11781.489000,2.051434e+05,0.412222
1,11710632,송파구,가락2동,33949.526515,32591.545455,2.042477e+07,0.96,626.689080,0.341435,777.7500,10,124,0.080645,9826,0.012620,0.753723,6942.566264,7.622855e+05,-0.053599
2,11710620,송파구,가락본동,23529.283990,26588.090909,2.769967e+07,1.13,1041.807302,0.278542,720.3900,24,96,0.250000,10371,0.009257,2.727638,13485.477306,9.969658e+05,-0.024802
3,11530595,구로구,가리봉동,22563.181818,9025.272727,8.230860e+06,0.40,911.979071,0.094551,340.4100,7,10,0.700000,2125,0.004706,0.339889,3475.635986,4.302620e+05,0.003769
4,11545510,금천구,가산동,9282.611833,23392.181818,4.232953e+07,2.52,1809.558992,0.245061,476.8200,99,195,0.507692,15400,0.012662,1.622058,69812.024542,1.607524e+06,-0.013407
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,11230730,동대문구,휘경2동,23007.619048,24158.000000,1.447039e+07,1.05,598.989404,0.253084,517.3600,14,58,0.241379,5506,0.010534,-5.115705,5015.702278,7.481679e+05,-0.011487
422,11590605,동작구,흑석동,18906.114719,31762.272727,2.262864e+07,1.68,712.437766,0.332748,627.2400,21,119,0.176471,8342,0.014265,-3.872103,8815.108819,1.358795e+06,-0.050227
423,11740525,강동구,상일1동,11640.358491,30846.950000,2.243731e+07,2.65,727.375200,0.323159,777.1124,18,82,0.219512,11216,0.007311,-6.300577,4348.407488,4.222304e+05,0.243873
424,11740526,강동구,상일2동,11700.092593,6318.050000,4.595593e+06,0.54,727.375200,0.066189,159.1676,4,13,0.307692,2327,0.005587,-5.427323,890.637678,8.648092e+04,0.243873
425,11530800,구로구,항동,8246.396104,11544.954545,1.137911e+07,1.40,985.635202,0.120947,184.2210,15,81,0.185185,2895,0.027979,-6.790714,609.395653,1.156700e+05,0.164189

In [14]:
final_charge = pd.merge(final, charge_num, left_on="행정동", right_on="행정동명", how="left")

final_charge

,행정동코드_x,시군구명,행정동,인구밀도,거주인구,생활인구,면적,주거성격,거주비율,평균총소득,...,충전소인프라,전체차량개수,전기차보급률,충전소접근성,전기사용량,가스사용량,온실가스비율,행정동코드_y,행정동명,주유소
0,11710631,송파구,가락1동,20434.531886,27382.272727,2.031486e+07,1.34,741.898283,0.286862,1055.6200,...,0.030568,10234,0.022376,-7.055979,11781.489000,2.051434e+05,0.412222,11710631,가락1동,0.0
1,11710632,송파구,가락2동,33949.526515,32591.545455,2.042477e+07,0.96,626.689080,0.341435,777.7500,...,0.080645,9826,0.012620,0.753723,6942.566264,7.622855e+05,-0.053599,11710632,가락2동,3.0
2,11710620,송파구,가락본동,23529.283990,26588.090909,2.769967e+07,1.13,1041.807302,0.278542,720.3900,...,0.250000,10371,0.009257,2.727638,13485.477306,9.969658e+05,-0.024802,11710620,가락본동,1.0
3,11530595,구로구,가리봉동,22563.181818,9025.272727,8.230860e+06,0.40,911.979071,0.094551,340.4100,...,0.700000,2125,0.004706,0.339889,3475.635986,4.302620e+05,0.003769,11530595,가리봉동,1.0
4,11545510,금천구,가산동,9282.611833,23392.181818,4.232953e+07,2.52,1809.558992,0.245061,476.8200,...,0.507692,15400,0.012662,1.622058,69812.024542,1.607524e+06,-0.013407,11545510,가산동,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,11230730,동대문구,휘경2동,23007.619048,24158.000000,1.447039e+07,1.05,598.989404,0.253084,517.3600,...,0.241379,5506,0.010534,-5.115705,5015.702278,7.481679e+05,-0.011487,11230730,휘경2동,4.0
422,11590605,동작구,흑석동,18906.114719,31762.272727,2.262864e+07,1.68,712.437766,0.332748,627.2400,...,0.176471,8342,0.014265,-3.872103,8815.108819,1.358795e+06,-0.050227,11590605,흑석동,1.0
423,11740525,강동구,상일1동,11640.358491,30846.950000,2.243731e+07,2.65,727.375200,0.323159,777.1124,...,0.219512,11216,0.007311,-6.300577,4348.407488,4.222304e+05,0.243873,11740525,상일1동,1.0
424,11740526,강동구,상일2동,11700.092593,6318.050000,4.595593e+06,0.54,727.375200,0.066189,159.1676,...,0.307692,2327,0.005587,-5.427323,890.637678,8.648092e+04,0.243873,11740526,상일2동,0.0
425,11530800,구로구,항동,8246.396104,11544.954545,1.137911e+07,1.40,985.635202,0.120947,184.2210,...,0.185185,2895,0.027979,-6.790714,609.395653,1.156700e+05,0.164189,11530800,항동,1.0